<!-- Top Bar -->
<div class="flex items-center navbar bg-blue-500  toolbar py-4 px-4 overflow-visible lg:px-16" role="banner">
  <div class="flex-1 flex items-center gap-2">
    <img width="40" alt="Angular Logo" src="https://cdn-icons-png.flaticon.com/128/4080/4080032.png" />
    <a routerLink="/" class="btn btn-ghost normal-case text-xl text-white font-bold tracking-widest">MyDiet</a>
  </div>

  <div class="flex">
    <div class="flex-none" [ngClass]="isUserLogedin == true ? 'hidden' : ''">
      <ul class="menu menu-horizontal px-1">
        <li>
          <details>
            <summary>
              Registration
            </summary>
            <ul class="p-2 bg-base-100">
              <li><a routerLink="/signin">Login</a></li>
              <li><a routerLink="/signup">Sign Up</a></li>
            </ul>
          </details>
        </li>
      </ul>
    </div>

    <div class="dropdown dropdown-end" [ngClass]=" isUserLogedin == true ? 'hidden' : 'hidden' ">
      <label tabindex="0" class="btn btn-ghost btn-circle avatar">
        <div class="w-10 rounded-full">
          <img src="/images/stock/photo-1534528741775-53994a69daeb.jpg" />
        </div>
      </label>
      <ul tabindex="0" class="z-50 menu menu-sm dropdown-content mt-3 p-2 shadow bg-base-100 w-52">
        <li><a (click)="Logout()">Logout</a></li>
      </ul>
    </div>
  </div>
</div>


<router-outlet></router-outlet>

<!-- Bottom Bar -->
<div [ngClass]="isUserLogedin == true ? '' : ''"  class="flex-1 w-full px-4 py-2 lg:hidden">
  <div class='rounded-full w-full flex justify-around bg-white backdrop-blur-lg '>
    <a routerLink="/" class='p-2 rouded-full flex flex-col'>
      <img src="https://cdn-icons-png.flaticon.com/128/1946/1946488.png" alt="home" class='w-8 h-8' />
    </a>

    <a routerLink="/food" class='p-2 rouded-full flex flex-col'>
      <img src="https://cdn-icons-png.flaticon.com/128/857/857681.png" alt="food" class='w-8 h-8' />
    </a>

    <a routerLink="/bmi" class='p-2 rouded-full flex flex-col'>
      <img src="https://cdn-icons-png.flaticon.com/128/10476/10476349.png" alt="bmi" class='w-8 h-8' />
    </a>

    <a routerLink="/user" class='p-2 rouded-full flex flex-col'>
      <img src="https://cdn-icons-png.flaticon.com/128/1077/1077063.png" alt="user" class='w-8 h-8' />
    </a>
  </div>
</div>